.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-ace-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.button {
  order: 2;
  background: #E74C3C;
}

.array {
  order: 1;
  background: #F4D03F;
}

.data-biding {
  order: 3;
  background: #3498DB;
}

.calculator {
  order: 4;
  background: #2ECC71;
}

.searchFilter {
  order: 4;
  background: #FF5733;
}

.flex-item {
  padding: 5px;
  flex-basis: 30%;
  margin-top: 10px;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: white;
  flex-grow: 1;
  justify-content: space-around;
}

.torrentStrip {
  background: #EB984E;
}

.transpilerStrip {
  background: #ABB2B9;
}

.aceEditor {
  padding: 5px;
  height: 100%;
  width: 50%;
  margin-top: 10px;
}
