.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;
  /* Then we define the flow direction and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

.button {
  order:2;
  background: #E74C3C;
  padding: 5px;
  width: 400px;
  height: 50px;
  margin-top: 10px;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: white;
  flex-grow: 1;
  justify-content: space-around;
}

.array {
  order:1;
  background: #F4D03F;
  padding: 5px;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: white;
  flex-grow: 1;
  justify-content: space-around;
}
.data-biding {
  order:3;
  background: #3498DB;
  padding: 5px;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: white;
  flex-grow: 1;
  justify-content: space-around;
}
.calculator {
  order:4;
  background: #2ECC71;
  padding: 5px;
  width: 400px;
  height: 200px;
  margin-top: 10px;
  line-height: 20px;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: white;
  flex-grow: 1;
  justify-content: space-around;
}
